@import "../../../src/scss/filter-bar";
@import "../../../node_modules/react-flex-data-table/src/sass/flex-table.scss";
@import "../../../node_modules/react-datepicker/src/stylesheets/datepicker.scss";

body {
  background-color: #fefeff;
  padding: 2em 4em;
}

.react-datepicker__input-container, .react-datepicker-wrapper {
  width: 100%;
}

div.flex-table .th {
  text-overflow: ellipsis;
  overflow: hidden;
}